p, div {
    font-family: Lato;
}

/*
  Colors:
  https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7
*/
/*
YANKEES BLUE: #22223B
INDEPENDENCE: #4A4E69
PLATINUM: #EADAE4
SPANISH GRAY: #9A8C98
SILVER PINK: #C9ADA7
*/

.wrapper-right {
    margin-left: 20% !important;
    margin-top: 5% !important;
    height: 25%;
}
.wrapper-left {
    margin-top: 5% !important;
    height: 25%;
}
.vl {
    border-left: 1px solid black;
    height: 320px;
}
.results {
    margin-left: 10%;
}
.firstName,
.lastName,
.email,
.hobbies {
    margin-bottom: 15px;
}

.firstName {
    width: 100%;
}

.email,
.hobbies {
    width: 100%;
}
